@model IEnumerable<Pacial_Net2.Models.Marca>

@{
    ViewData["Title"] = "Marca de Vehículo";
}   

<h1>@ViewData["Title"]</h1>
<br />
<p>
    <a class="btn btn-primary" -controller="Marca" asp-action="Create">Agregar</a>
</p>
<table class="table table-bordered" id="myTable" style="text-align: center;">
    <thead>
        <tr>
            <th style="text-align: center;">Nombre</th>
            <th style="text-align: center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Marca) 
{
        <tr>
            <td>@item.nombre</td> <br />
            <td>
                <a class="btn btn-warning" asp-controller="Marca" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-danger delete-btn" href="#" data-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts
{
    <script>
        document.querySelectorAll('.delete-btn').forEach(btn => {
            btn.addEventListener('click', function (e) {
                e.preventDefault();
                const id = this.getAttribute('data-id');

                Swal.fire({
                    title: '¿Quieres confirmar la eliminación?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Confirmar'
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        fetch(`/Marca/Delete/${id}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(response => {
                            if (response.ok) {
                                window.location.reload();
                            } else {
                                Swal.fire('Error', 'No se pudo eliminar la marca.', 'error');
                            }
                        });
                    }
                });
            });
        });
    </script>
    <script>
        let table = new DataTable('#myTable', {
            scrollX: true
        });
    </script>
}
